.contact-container{
    width: 80vw;  
    margin-left: 100px;
    color: wheat;
}

.contact-form .form-control{
    padding: 15px 3px;
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    border: 2px solid white;
}

.contact-form input.form-control{
    margin-bottom: 15px;
}

